<div id= "page-sidebar" class="intro-options open">
    <i class='bx bx-menu' id="btn"></i>

    <ul class="nav-List">
        <li>
            <i class='bx bxs-home'></i>
            <a class='bx list' href="index.html"> Home-Page </a>
        </li> <br>
        <li>
            <i class='bx bxs-graduation' ></i>
            <a class='bx list' href="education.html"> Education </a>
        </li> <br>
        <li>
            <i class='bx bx-buildings'></i>
            <a class='bx list' href="experiences.html"> Experiences </a>
        </li> <br>
        <li>
            <i class='bx bx-code-alt' ></i>
            <a class='bx list' href="projects.html"> Projects </a>
        </li> <br>
        <li>
            <i class='bx bxs-ball' ></i>
            <a class='bx list' href="extras.html"> Extra-Curriculars </a>
        </li>
    </ul>
</div>
